<component name="libraryTable">
  <library name="mybatis-3.2.7">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/resouse/mybatis-3.2.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/resouse/mysql-connector-java-8.0.21.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>